// @import '../assets/styles/variables';
@import 'variables';
.main-section {
    .top-wrap {
        display: flex;
        justify-content: space-between;
        .about {
            width: 60%;
        }
        .aside {
            width: 35%;
            img {
                width: 100%;
                border-radius: 12px;
            }
        }
    }
}