@import 'variables';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 20px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    .logo {
        display: flex;
        align-items: center;
        .container {
            display: flex;
            align-items: center;
            .image {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        h1 {
            font-size: 32px;
            color: #fff;
            .c {
                color: #ffcc00;
                animation: pulse 1.5s infinite;
            }
            .yrus {
                font-weight: 300;
            }
        }
    }
    .list {
        ul {
            list-style: none;
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;
            li {
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                    position: relative;
                    padding: 5px;
                    &:hover::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #ffcc00;
                        transform: scaleX(1);
                        transition: transform 0.3s ease;
                    }
                }
            }
        }
    }
    .menu-button {
        display: none;
    }
    @media (max-width: 768px) {
        .list {
            display: none;
        }
        .menu-button {
            display: block;
            color: #fff;
        }
    }
}